﻿@model NIMAP_PROJECT.Models.Catogery


<h1>
    EDIT HERE
</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="delete" method="post">
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="catogeryName" class="control-label"></label>
                <input asp-for="catogeryName" class="form-control" />
                <span asp-validation-for="catogeryName" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="DELETE" class="btn btn-primary" />
            </div>

        </form>
    </div>

</div>

