﻿@model IEnumerable<NIMAP_PROJECT.Models.Catogery>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
  
<table class="table" border="1">

      <a asp-controller="Catogery" asp-action="create" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>CREATE</a>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=> model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.CategoryId)
            </th> <th>
                @Html.DisplayNameFor(model=> model.catogeryName)
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td>
                    @Html.DisplayFor(modelitem=>item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelitem=>item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelitem=>item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelitem=>item.catogeryName)
                </td>
                <td>

                   @* <a asp-controller="Catogery" asp-action="create"  class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>CREATE</a>*@
                    <a asp-controller="Catogery" asp-action="edit" asp-route-id="@item.ProductId" class="btn btn-primary mx-2"><i class="bi bi-pencil-square">EDIT</i></a>
                    <a asp-controller="Catogery" asp-action="delete" asp-route-id="@item.ProductId" class="btn btn-primary mx-2"><i class="bi bi-pencil-square">DELETE</i></a>
                </td>
            </tr>

           
        }
        
      @*   <tr>
             @foreach(var item in Model=>)
             
           @for(int i=1; i<=item.pagecount;i++){
               <td>
                   @if(i!=item.currentpageindex){
                      <a href="javascript:PagerClick(@i);">@i</a>
                   }
                        else
                        {
                            <span>@i</span>
                        }
               </td>

        }
    </tr>*@
    </tbody>


    
</table>

<input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />

<script type="text/javascript">
    function PagerClick(index) {
        document.getElementById("hfCurrentPageIndex").value = index;
        document.forms[0].submit();
    }
</script>
</div>